<div class="tradingview-widget-container card" #containerDiv>
<!--     <div class="card-header">{{symbol}}</div>
    <div class="card-body"> -->
        <div class="tradingview-widget-container__widget" [id]="widgetId"></div>
   <!--  </div> -->
</div>