<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" *ngFor="let item of listOfSymbols" [symbol]="item"></trading-view-copy>

   <!--         <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="GPW:CDR"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="GPW:11B"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="AAPL"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TSLA"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="NFLX"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="GOLD"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="SILVER"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="BTCUSD"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="EURUSD"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="USDJPY"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="ETHUSD"></trading-view-copy> -->
<!--        
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:SPX"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:DJI"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:NDX"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="CBOE:VIX"></trading-view-copy>
            <trading-view-copy class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:DXY"></trading-view-copy> -->

<!--             <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="GPW:CDR"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="GPW:11B"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="AAPL"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TSLA"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="NFLX"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="GOLD"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="SILVER"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="BTCUSD"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="EURUSD"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="USDJPY"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="ETHUSD"></rip-trading-view-fundamentals>
-->  
<!--      <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:SPX"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:DJI"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:NDX"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="CBOE:VIX"></rip-trading-view-fundamentals>
            <rip-trading-view-fundamentals class="col-lg-4 col-md-6 col-sm-6 mt-3" symbol="TVC:DXY"></rip-trading-view-fundamentals>
-->
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body">
                            <rip-trading-view-fundamentals symbol="AAPL"></rip-trading-view-fundamentals>
                            <rip-trading-view-fundamentals symbol="TSLA"></rip-trading-view-fundamentals>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>